/iotake-solr-client/target
/iotake-solr-client/.settings
/iotake-solr-client-gis/target
/iotake-solr-client-gis/.settings
/iotake-solr-client/.project
/iotake-solr-client/.classpath
/iotake-solr-client-gis/.classpath
/iotake-solr-client-gis/.project
